body {
   margin: 0;
   color: #fff;

}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

.header {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
}

.header__inner {
   display: flex;
   justify-content: space-between;
}

.header__icon {
   float: left;
   margin: 23px 10px 0 0;
   width: 38px;
   height: 42px;
}

.header__logo {
   float: right;
   display: inline;
   margin: 23px 0 0;
   font-family: Roboto, sans-serif;
   font-weight: 100;
   font-size: 30px;
   color: #25d4d0;
   background: linear-gradient(45deg, #00e0d0, #4aa3cc);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 670px;
   background: url("image/intro_01.jpg") center no-repeat;
   background-size: cover;
}

.intro__inner {
   width: 100%;
   max-width: 690px;
   margin: 200px auto 0;
   text-align: center;
}

.intro__title {
   font-family: Playfair Display, serif;
   font-size: 32px;

   font-weight: 900;

}

.intro__title:after {
   content: "";
   display: block;
   width: 50px;
   height: 3px;
   background-color: #4aa3cc;
   margin: 25px auto 0;
}


.container {
   width: 100%;
   max-width: 940px;
   margin: 0 auto;
}

.nav {
   font-size: 13px;
   text-transform: uppercase;
   font-family: Roboto, sans-serif;
   font-weight: 900;
}

.nav__link {
   display: inline-block;
   vertical-align: top;
   margin: 35px 20px 0;

   color: #fff;
   text-decoration: none;
   transition: color .2s linear;

}

.nav__link:hover {
   color: #00e0d0;
}



.text__inner {
   font-family: Roboto, sans-serif;
   font-weight: 300;
   font-size: 14px;

   margin: 30px auto 50px;
}

.btn {
   display: inline-block;
   vertical-align: top;
   padding: 11px 15px;
   border: 1px solid #00e0d0;
   font-family: Hammersmith One, sans-serif;
   font-size: 16px;
   text-transform: uppercase;
   font-weight: 400;
   text-decoration: none;
   color: #00e0d0;
   transition: background-color .2s linear;
   margin: 0 0 70px;
}

.btn:hover {
   background-color: #6f828a;
}

.circle {
   width: 100%;
   margin: 120px 0 65px;
}

.circle__item {
   text-decoration: none;
   display: inline-block;
   vertical-align: top;
   width: 10px;
   height: 10px;
   border: 1px solid #fff;
   border-radius: 50%;
   transition: background-color .2s linear;
}

.circle__item:hover {
   background-color: #00e0d0;
}

.section {
   padding: 60px;
}

.section__header {
   padding-left: 65px;
}

.section__icon {
   float: left;
}

.section__title__more {
   width: 100%;
   max-width: 540px;
   margin: 0 auto;
   float: right;
}

.section__title {
   font-family: Playfair Display, serif;
   font-size: 32px;
   font-weight: 700;
   text-transform: uppercase;
   color: #413d4b;
}

.section__text {
   color: #716e78;
   font-family: Roboto, sans-serif;
   font-size: 14px;
   font-weight: 300;
}

.text {
   margin: 25px 0;
}

.video {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 550px;
   background: url("image/tajem_master_02.jpg") center no-repeat;
   background-size: cover;
}

.video__item {
   width: 100%;
   text-align: center;
}

.video__play {
   display: inline;
   font-size: 150px;
   margin-bottom: 20px;
   transition: color .2s linear;
}

.video__play:hover {
   color: #00e0d0;
}

.video__text {
   font-family: Rooboto, sans-serif;
   font-weight: 900;
   text-transform: uppercase;
   font-size: 16px;
}

.sections {
   width: 100%;
   margin: 70px 0;
}

.sections__title {
   font-family: Playfair Display, serif;
   font-size: 22px;
   font-weight: 700;
   color: black;
   text-align: center;
   text-transform: uppercase;
}

.sections__podtitle {
   color: #716e78;
   font-family: Playfair Display, serif;
   font-size: 14px;
   font-weight: 400;
   text-align: center;
}

.sections__podtitle:after {
   content: "";
   display: block;
   width: 50px;
   height: 3px;
   background-color: #716e78;
   margin: 15px auto 45px;
}

.services__all {
   border-top: 1px solid #ebebeb;
}

.services {
   display: flex;
}

.services__item {
   flex: 1 1 0;
   text-align: center;
}

.services__border {
   border-left: 1px solid #ebebeb;
   border-right: 1px solid #ebebeb;
}

.services__icon {
   padding: 30px;
}

.title__p {
   padding-top: 7px;
}

.services__title {
   font-family: Roboto, sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: 900;
   color: black;
   padding-bottom: 20px;
}

.services__text {
   font-family: Roboto, sans-serif;
   font-size: 14px;
   font-weight: 300;
   color: #716e78;
   padding-bottom: 30px;
   padding-left: 25px;
   padding-right: 25px;
}

.team {
   background: url(image/inrto_3.jpg) center no-repeat;
   background-size: cover;
}

.team__title {
   font-family: Playfair Display, serif;
   font-size: 22px;
   font-weight: 700;
   color: #fff;
   text-align: center;
   text-transform: uppercase;
   padding-top: 65px;
}

.team__podtitle {
   color: #fff;
   font-family: Playfair Display, serif;
   font-size: 14px;
   font-weight: 400;
   text-align: center;
}

.team__podtitle:after {
   content: "";
   display: block;
   width: 50px;
   height: 3px;
   background-color: #655b7f;
   margin: 15px auto 0;
}

.team__services {
   display: flex;
   justify-content: space-between;
}

.team__item {
   text-align: center;
   padding: 45px 0 0 0;
   position: relative;
}

.team__item:hover .team__img {
   transform: translate3d(-10px, -10px, 0);
}

.team__item:hover .team__img img {
   opacity: .1;
}

.team__item:hover .team__backtext {
   opacity: .5;
}

.team__backtext {
   width: 210px;
   height: 120px;
   font-size: 50px;
   text-decoration: none;
   color: red;
   position: absolute;
   top: 50%;
   left: 0;
   z-index: 2;
   opacity: 0;
   transform: translate3d(0, -50%, 0);
   transition: opacity .4s linear;
}

.team__img {
   background: url(image/Screenshot_1.png) center no-repeat;
   background-size: cover;
   transition: transform .4s linear;
}

.team__img img {
   display: block;
   transition: opacity .1s linear;
}

.team__im {
   width: 220px;
   height: 230px;
}


.team__border {
   border: 1px solid #fff;
   margin-top: -20px;
   margin-bottom: 5px;
}

.team__text {
   font-family: Roboto, sans-serif;
   font-size: 13px;
   text-transform: uppercase;
   font-weight: 300;
   color: rgba(255, 255, 255, 0.5);
}

.team__text__title {
   padding-top: 13px;
   font-family: Roboto, sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: 900;
}

.team__bottom {
   margin-top: 65px;
   text-align: center;
}

.team__btext {
   font-family: Roboto, sans-serif;
   font-size: 14px;
   font-weight: 300;
   margin-bottom: 25px;
}