body {
   margin: 0;
   color: #fff;

}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

.header {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
}

.header__inner {
   display: flex;
   justify-content: space-between;
}

.header__icon {
   float: left;
   margin: 23px 10px 0 0;
   width: 38px;
   height: 42px;
}

.header__logo {
   float: right;
   display: inline;
   margin: 23px 0 0;
   font-family: Roboto, sans-serif;
   font-weight: 100;
   font-size: 30px;
   color: #25d4d0;
   background: linear-gradient(45deg, #00e0d0, #4aa3cc);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 670px;
   background: url("image/intro_01.jpg") center no-repeat;
   background-size: cover;
}

.intro__inner {
   width: 100%;
   max-width: 690px;
   margin: 200px auto 0;
   text-align: center;
}

.intro__title {
   font-family: Playfair Display, serif;
   font-size: 32px;

   font-weight: 900;

}

.intro__title:after {
   content: "";
   display: block;
   width: 50px;
   height: 3px;
   background-color: #4aa3cc;
   margin: 25px auto 0;
}


.container {
   width: 100%;
   max-width: 940px;
   margin: 0 auto;
}

.nav {
   font-size: 13px;
   text-transform: uppercase;
   font-family: Roboto, sans-serif;
   font-weight: 900;
}

.nav__link {
   display: inline-block;
   vertical-align: top;
   margin: 35px 20px 0;

   color: #fff;
   text-decoration: none;
   transition: color .2s linear;

}

.nav__link:hover {
   color: #00e0d0;
}



.text__inner {
   font-family: Roboto, sans-serif;
   font-weight: 300;
   font-size: 14px;

   margin: 30px auto 50px;
}

.btn {
   display: inline-block;
   vertical-align: top;
   padding: 11px 15px;
   border: 1px solid #00e0d0;
   font-family: Hammersmith One, sans-serif;
   font-size: 16px;
   text-transform: uppercase;
   font-weight: 400;
   text-decoration: none;
   color: #00e0d0;
   transition: background-color .2s linear;
   margin: 0 0 70px;
}

.btn:hover {
   background-color: #6f828a;
}

.circle {
   width: 100%;
   margin: 120px 0 65px;
}

.circle__item {
   text-decoration: none;
   display: inline-block;
   vertical-align: top;
   width: 10px;
   height: 10px;
   border: 1px solid #fff;
   border-radius: 50%;
   transition: background-color .2s linear;
}

.circle__item:hover {
   background-color: #00e0d0;
}

.section {
   padding: 60px;
}

.section__header {
   padding-left: 65px;
}

.section__icon {
   float: left;
}

.section__title__more {
   width: 100%;
   max-width: 540px;
   margin: 0 auto;
   float: right;
}

.section__title {
   font-family: Playfair Display, serif;
   font-size: 32px;
   font-weight: 700;
   text-transform: uppercase;
   color: #413d4b;
}

.section__text {
   color: #716e78;
   font-family: Roboto, sans-serif;
   font-size: 14px;
   font-weight: 300;
}

.text {
   margin: 25px 0;
}

.video {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 550px;
   background: url("image/tajem_master_02.jpg") center no-repeat;
   background-size: cover;
}

.video__item {
   width: 100%;
   text-align: center;
}

.video__play {
   display: inline;
   font-size: 150px;
   margin-bottom: 20px;
   transition: color .2s linear;
}

.video__play:hover {
   color: #00e0d0;
}

.video__text {
   font-family: Rooboto, sans-serif;
   font-weight: 900;
   text-transform: uppercase;
   font-size: 16px;
}